<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About Me</h1>
        <div class="row">
            <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet mattis vulputate enim. Tristique risus nec feugiat in fermentum posuere urna. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Hac habitasse platea dictumst quisque sagittis purus sit. Felis donec et odio pellentesque diam volutpat commodo sed. In fermentum et sollicitudin ac. Tempor orci dapibus ultrices in. Viverra adipiscing at in tellus integer. Lacus luctus accumsan tortor posuere ac ut consequat semper. Fermentum leo vel orci porta non pulvinar neque laoreet. Et odio pellentesque diam volutpat commodo. Enim ut sem viverra aliquet.
            <br/>
            <br/>
            Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Justo donec enim diam vulputate ut pharetra sit amet. Eleifend mi in nulla posuere. Hac habitasse platea dictumst quisque. Aliquet eget sit amet tellus. Ut lectus arcu bibendum at varius. Diam volutpat commodo sed egestas egestas. Eget velit aliquet sagittis id consectetur purus ut. Quis auctor elit sed vulputate mi sit amet mauris. Faucibus in ornare quam viverra orci sagittis. Ac ut consequat semper viverra nam libero justo laoreet sit. Dictum fusce ut placerat orci nulla pellentesque dignissim enim.
            </p>
            <hr class="my-4"/>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" onclick="window.location.href = 'https://github.com/ahmadbadawikr';" class="btn btn-secondary">GitHub</button>
                <button type="button" onclick="window.location.href = 'https://instagram.com/ahmadbadawikr';" class="btn btn-secondary">Instagram</button>
                <button type="button" onclick="window.location.href = 'https://twitter.com/deadlineknight';" class="btn btn-secondary">Twitter</button>
            </div>
        </div>
    </div>
</div>